body
{  background-image: url("/static/styles/articles.jpg");

		background-repeat: no-repeat;
		background-size: cover;
		background: contain;
}

.jumbotron{
	
	opacity: 0.90;
	text-align: center;
	width: contain;

}
